[2020-01-20 06:04] peacekeeper opened #1 "Remove public-facing API calls"
This is meant to be an internal API used to integrate VC issuing capabilities with an existing backend system such as CRM, etc. This should not contain any operations for interacting directly with a VC Holder. The API however does currently contain two such operations:

- `GET` on `/credential/{credentialReference}/status`: Retrieves the credential status and returns it in the response body.
- `PO

[2020-01-20 06:09] peacekeeper opened #2 "Consider downsides of RESTful APIs"
@dhh1128 has highlighted several downsides of using a RESTful approach for a VC issuing API, including:

1. RESTful APIs are web-only.
2. RESTful APIs perpetuate the PKI model that we claim to be replacing with DIDs.
3. RESTful APIs foster a power imbalance.

If possible, those should be addressed in the API design.

For the full details including potential alternatives, see https://lists.w3.org/A

[2020-01-20 15:14] OR13 opened #3 "Example credential format for JWT and Linked Data Proofs"
The VC Data Model provides some example credential types, I'd love to support the credential format used by the Well Known DID Configuration here, since we have recently discussed expanding its proof format to support the VC Data Model.

This PR adds tests for JWT and Linked Data (VC Data Model) credentials for linking a domain to DIDs.

https://github.com/decentralized-identity/.well-known/pull/2

[2020-01-20 15:19] OR13 opened #4 "Add Layer Cake Diagram"
I'm imagining the internal structure of this API and seeing some need to add definition.

For example, its common to have switch like code that determines in you are using ES256K, RS256, ES256, etc... or Ed25519Signature2018, RsaSignature2018, EcdsaSecp256k1Signature2019, etc...

I think a layer cake diagram which showed how to register new credential proof "issuers" might be helpful here, while t

[2020-02-21 00:55] kimdhamilton commented on #1
They seem reasonable to keep as internal apis...did you mean remove completely or switch to internal?

[2020-02-21 18:58] jchartrand opened #6 "batches"
Sometimes credentials are issued in batches (e.g., university degrees), and each individual credential might in fact include some detail about the batch (like a merkle root or a blockchain transaction reference), implying therefore that we have to process the whole batch at once?

Maybe the POST /credential could take an array of creds, so they all get processed at once?

Or there could be a

POST

[2020-02-21 20:22] jchartrand opened #7 "allow setting credential status before issuance to allow 'pre-registration' of credentials"
The POST credential/{credentialReference}/status definition says that the  'credentialReference' parameter is:

"Reference to a credential that has been issued."

There might be cases, though, where an issuance system sets the credential status before issuing the credential.  So essentially 'pre-registers' the credential, maybe as part of a security safeguard (to prevent internal fraudulent issuan

[2020-02-22 13:59] peacekeeper commented on #6
Makes sense to me, do you want to create a PR so people can review and discuss?

[2020-02-22 18:36] peacekeeper commented on #7
@jchartrand makes sense to me, I agree it seems useful to be able to "pre-register" a "pending" VC and then "issue" it later. Do you want to raise a PR for this?

[2020-02-22 19:17] peacekeeper commented on #1
Interesting, I haven't thought about this. I guess you're right, we could keep them and simply mark as internal instead of public!

[2020-02-24 17:31] dhh1128 commented on #7
Just a brief note about the statuses @jchartrand mentioned: It may be worth subdividing the `pending` state. If the holder proposes/requests a credential, the credential is in a state prior to `active`, but not necessarily `pending` (until the issuer decides they want to proceed). If the issuer asks for payment, the credential might also be in this early but not yet pending state. And if the crede

[2020-02-24 17:38] dhh1128 opened #8 "need to distinguish cred-issuer relationship in URI namespace?"
Today, most credential workflows are simple. We assume a person (not an institution or IoT thing, usually) shows up at an issuer's API and an issue-the-credential workflow immediately begins. Thus, we think that /credentials is a reasonable place to put all credentials related to an issuer, and that all credentials under that namespace are *issued* or *about-to-be-issued* or *previously-issued* cr

[2020-02-24 18:46] jchartrand commented on #8
I understood (from reading the discussion here:  https://lists.w3.org/Archives/Public/public-credentials/2019Dec/0076.html) that this API is meant to be internal.

The API is _**called**_ by an issuer (e.g., a university registrar's system), not **_provided_** by an issuer, and so is not an interaction between issuer and holder.

The underlying implementation of the API would be provided by vendor

[2020-02-24 18:59] dhh1128 commented on #8
@jchartrand Yes, it's internal. And yes, it's called by an issuer. But that call by the issuer may not be the beginning of the workflow or the state of the interaction. Part of what I was worried about in the email thread you referenced is that we should not be making the assumption that issuance workflows always begin with the issuer. If you lose your driver's license and request a new one, shoul

[2020-02-24 19:24] David-Chadwick opened #9 "What is the architecture model?"
We have been presented with an Issuer API without being presented with an overall architectural model, or knowing which components are present, and which components call which other ones. I think that the first thing should be to specify the architectural model and then to determine the process flow of creating a VC and giving it to the holder.

At the University of Kent we have specified an archi

[2020-02-24 19:25] David-Chadwick commented on #8
In the architectural model that we have implemented, the IdP (i.e. organisation that has the PII of the VC subject) is **called** by the VC issuer to provide the subject's attributes to the VC Issuer - the entity that issues the VCs and provides them to the VC Holder. This seems to be the opposite of the model that is being used here. Therefore I have raised a new issue #9 so that the architectura

[2020-02-25 08:33] peacekeeper commented on #9
Thanks David, I think this is a good point. Are you able to share the architectural model you have specified?

[2020-02-25 21:19] David-Chadwick commented on #9
Yes its already publicly available on our web site here

https://verifiablecredentials.info/products-and-services

The VC Middleware actually comprises three components
1. A VC Issuer which runs at the IdP's site
2. A VC holder which runs on the user's device
3. A VC verifier which runs as a backend to the Resource provider

I already posted the YAML for
i) the service provided by the Corporate Di

[2020-02-27 15:53] OR13 opened #10 "Should we link to implementations?"
https://github.com/transmute-industries/issuer-verifier-vc-api

[2020-02-27 17:15] dhh1128 opened #11 "Why do we believe the issuer retains a copy of all issued credentials?"
The national government of most countries doesn't retain a copy of every passport they issue. Instead, they retain the data that went into the passport.

But in this API, we are assuming that when we GET /credential/{ref}, we get back the credential itself. I'm not sure that's a reasonable behavior, because it means a malicious sysadmin is guaranteed to be able to get not just the data for a crede

[2020-02-27 17:18] dhh1128 opened #12 "Why do we believe it's a good idea to return an issued credential to an internal caller?"
Issued credentials have to flow to *holders*. This API requires issuers to also support flowing them to an internal caller for some reason. I am not aware of any architectural reason that's rooted in use cases, why this should be so. The protocol for issuance that's imagined in [Aries RFC 0036](https://github.com/hyperledger/aries-rfcs/blob/master/features/0036-issue-credential/README.md) does not

[2020-02-27 17:23] dhh1128 opened #13 "We shouldn't be "verifying" a credential"
The terminology of the VC spec is that we verify a presentation, not a credential. (A presentation contains one or more pieces of data that match the credential data model, right?) This suggests that any verification that happens should be under /presentations/x, not /credentials/x.

Unless we mean that verification is just checking to see if the credential looks legit from the issuer's (not verif

[2020-02-27 17:31] dhh1128 opened #14 "We need to define "verify""
Several things that a verifier does when evaluating a verifiable presentation are possibly intended by the verb "verify." We need to be crisp about which are in and out of scope for our API.

1. Checking the integrity of the artifact from a format and input validation perspective (correct MIME type, no magic byte sequence that makes the parsing engine blow up, the revealed "email" field actually l

[2020-02-27 17:43] jchartrand opened #15 "Service APIs rather than RESTful APIs?"
Maybe REST isn't the right approach.

A RESTful GET might make sense for getting a credential (although as @dhh1128 points out in #12 possibly not), but maybe a POST for creating a credential isn’t the right level of abstraction?

Since there is so much that goes on when creating a credential, and so much that could vary from one implementation to another (as @David-Chadwick points out in #9) then

[2020-02-27 18:51] David-Chadwick commented on #12
@dhh1128 Issued credentials have to flow to holders.
I fully agree with that statement, which is why in our Issuer API, the internal system component provides identity attributes to the VC Issuer, and the VC Issuer then transfers the VC to the VC Holder. If any internal component wants to know what VCs have been issued, there is an audit trail for this.

[2020-02-27 18:55] David-Chadwick commented on #11
@dhh1128 - I would go even further and say that in most cases, the issuing authority already has the data  (often held in LDAP or MS AD) before the Holder requests the VC be issued.
But there should be an audit trail recording each VC that has been issued.

[2020-02-27 18:58] jchartrand commented on #14
Similar to what I asked in #15 about whether 'services' might be a better abstraction than REST for issuance:

Could each of these verify steps be defined as discrete services (or 'microservices' or functions), each with their own API?  Thereby allowing the steps to be combined together as appropriate for a given project, and varying the implementation of each function as appropriate for the proje

[2020-02-27 19:02] dhh1128 commented on #11
Agreed. But the artifacts of that audit trail don't necessarily need to include a byte-for-byte copy of what was issued, signature and all--do they? Could we not just record a hash of what was issued and signed, plus a snapshot of the input data? This would guarantee that the snapshot is tamper-proof, while preventing a malicious sysadmin from being able to siphon off fully functioning credentials

[2020-02-27 20:06] David-Chadwick commented on #11
Agreed. The audit trail is there for several purposes (compliance, dispute resolution etc) and is not intended to aid insider attacks. But it is up to each issuing authority to decide how and what they put in each audit trail. I dont think we are going to standardise this.

[2020-02-27 20:23] dhh1128 commented on #11
Okay, great. Then the API we currently have, GET /credentials/{ref}, might need to be modeled as /credentials/{ref}/audit instead, if what we're trying to expose is an audit trail instead of actual credential bytes.

[2020-02-27 21:14] David-Chadwick commented on #11
I would support that approach. It seems more natural to me. The issuer api should be one that is offered **by** the issuing authority **to** the VC Issuer, in order for the VC Issuer to pick up the latest values of the subject's attributes (to put in the issued VC). Then the issuing authority can query the audit to see what has been issued.

[2020-02-28 08:50] peacekeeper commented on #12
@dhh1128 @David-Chadwick I agree with your comments, but should explain that delivery of the credential to a Holder was considered out-of-scope for the initial version of this API. This API would be only one part of an Issuer system, other parts would then deliver the credential to the Holder, using DIDComm, CHAPI, or some other mechanism.

So when this API returns a credential, the idea wasn't ne

[2020-02-28 09:02] peacekeeper commented on #13
The terminology of the VC spec says that ["verification"](https://w3c.github.io/vc-data-model/#dfn-verify) and ["validation"](https://w3c.github.io/vc-data-model/#dfn-credential-validation) are applicable to both credentials and presentations, even though I would agree that many well-design systems in practice would not need to directly verify credentials, only presentations.

Also I think this co

[2020-02-28 15:20] dhh1128 commented on #12
@peacekeeper: I think I may not have made my concern clear. Let me try again.

This set of issuer APIs is motivated by the DHS asking for something common that it can ask all issuing systems to support, so it can switch from one system to another. Its intent is to impose interoperability constraints on the whole industry.

And the specific API at /credential/{ref} is built for internal callers. Th

[2020-02-28 15:26] dhh1128 commented on #13
I'll move this (and reword to address your correction; thank you) to the verifier API.

[2020-02-28 15:26] #13 closed

[2020-02-28 15:29] dhh1128 commented on #14
I need to move this to the verifier API; I mistakenly logged it against the issuer API instead. I will copy my original comment and @jchartrand 's follow-up over to a new issue in the right place.

[2020-02-28 15:33] dhh1128 commented on #14
Superseded by https://github.com/w3c-ccg/vc-verifier-http-api/issues/6. Closing here.

[2020-02-28 15:33] #14 closed

[2020-02-28 15:34] jchartrand commented on #12
@dhh1128 Where is an issuer's private signing key kept when using Evernym?  If it is held by the issuer, wouldn't the signed credential originate from the issuer, not from Evernym, and so the signed credential would be sent directly from the issuer to the holder?  Apologies if I'm asking something silly - even so, could you point me at a description of Evernym's flow?

[2020-02-28 15:46] dhh1128 commented on #12
@jchartrand That is a very deep question. It's not something I can explain in a paragraph; it would take more like a page or two, and we're not prepared to discuss all the internals publicly yet. That will change soon, I think. So let me put a bookmark in your question temporarily, and hopefully I can come back to it with better info later.

For now, I'll just say that it's important to think abou

[2020-02-28 16:18] jchartrand commented on #12
Fair enough - looking forward to hearing more about it!

[2020-02-28 16:47] peacekeeper commented on #12
@dhh1128

I don't think the difference is that big. In the first case (Issuer API), the created credential is created and returned via an HTTP API call. In the second case (Evernym), the credential is still created somehow via a local SDK function call, perhaps `evernymVcxCreateCredential()` or similar. I guess the difference is that in the latter case, only Evernym software would "see" the create

[2020-02-28 17:05] dhh1128 commented on #12
Right. I'm not arguing that it's bad to have such a feature; I was just uncomfortable if we were relying on it too heavily, such that it became a strong requirement to support it.

Yes, that would make me more comfortable. Thanks for reminding me that POSTing to /credential was the expected flow; I had seen that before but forgotten.

[2020-02-28 17:13] mavarley commented on #12
@dhh1128 - do you have input on how this API can support the direct delivery to the Holder? ie, is it a parameter called "holdercallback" and then an agent endpoint, or is it something that would come from the subject's DID? Just looking for ideas on how to support.

[2020-02-28 17:18] David-Chadwick commented on #12
@dhh1128 "Evernym's issuance system design does not currently support giving a credential to an internal caller first (or ever); the only path for issuance is to send it directly to the holder during an outward-facing protocol."
This is exactly the same design as our system, so Evernym is not alone in this approach.

[2020-02-28 17:22] dhh1128 commented on #12
Since the holder has a DID that must be known to the issuer, it should always be possible to communicate with the holder using an endpoint in their DID doc. We are not planning to use a holder callback because we don't want to require the holder to be running a web server.

[2020-02-28 17:28] OR13 commented on #12
To answer the question in the issue title:

Separation of concerns.

Consider the case of Azure Key Vault with Hardware backed keys. Your access to this system is via an internal API. Your credential issuer software calls this api with the data that needs to be signed to create a VC, and constructs the finished credential. Same thing is true of WebKMS or Ursa Enclave... both are internal apis, whi

[2020-02-28 17:29] OR13 commented on #12
Somewhat related WebKMS issue: https://github.com/w3c-ccg/webkms/issues/4

[2020-02-28 18:16] jchartrand commented on #12
@peacekeeper

Does this API (and specifically POST /credential) assume that the private signing key is **_always_** stored with (or controlled by) the issuing 'authority', e.g., with Everynm?

The credential is never signed locally by the issuer (on-premises) with this POST?

[2020-02-28 18:43] OR13 commented on #12
I don't think this interface precludes calling out to other internal or public apis...

For example, the issuer API might validate the user input, and then call a web wallet on a mobile device, where the credential would be actually created, and then forwarded back.

In such a theoretical scenario:

UPort App -> Website -> External Issuer API -> Internal Issuer API -> Evernym App... (responses ful

[2020-02-28 19:15] David-Chadwick opened #17 "Architectural Model Discussion"
This issue replaces #9 (which requested the architectural model be published) with discussions about the architectural model that has now been published. Here are my comments on the published model.

1. Dotted communcation 12. The verifier should **never** communicate with the issuer. This is in direct contradiction with the VC Data Model. This communciation channel should be removed.

2. The Appl

[2020-02-28 19:15] dhh1128 commented on #12
I agree with @OR13 that the API doesn't preclude calling out to other APIs. However, the sequence of apps that Orie proposed does uncover an important consideration about ordering and connection. It is this:

The assumption of this API, so far, I think, is that it gets created when you POST to /credential. Before that, there's not any recognition that the same workflow is underway, so the parts to

[2020-02-28 19:26] OR13 commented on #12
interesting! sounds like you are suggesting an alternative where the client creates the VC identifier and the issuer just checks to see that it is not taken and creates the credential... or in a more complex scenario, the client might submit a signed credential which would by signed again by the issuer (Proof Set or Proof Chain)...

I feel like we are uncovering an assumption about the state of th

[2020-02-28 20:15] dhh1128 commented on #12
That (client creates the VC identifier) is one way to take what I suggested, and I would be supportive of exploring it. But that's not really what motivated my comment.

In the issuance protocol described in Aries RFC 0036, the protocol doesn't necessarily start with the issuer; it could start with the holder. This is the case where Alice shows up at the Driver's License office and says, "Hey, I l

[2020-03-04 18:33] mavarley commented on #17
Hi David, my initial thoughts:

1. If there is a path for an external party to call a revocation check endpoint, it will be very difficult to _exclude_ an entity that is a Verifier (other services can call it but not the entity making business decisions on the Credential?) But I see what you are saying in that we want to avoid the 'call home' pattern. (And I admit I need to review the VC spec on r

[2020-03-04 19:35] David-Chadwick commented on #17
@mavarley "If there is a path for an external party to call a revocation check endpoint, it will be very difficult to exclude an entity that is a Verifier"
Ans. A revocation checking endpoint should be a separate component drawn as a separate box that has a connection to the outside world, since its only raison d'etre is to let the outside world know when a VC has been revoked. Since we are only d

[2020-03-04 22:20] OR13 opened #19 "Consider Streetcred ID Credentials API"
https://app.swaggerhub.com/apis-docs/Streetcred/agency/v1

A similar Swagger Based Credentials API Defintion

[2020-03-10 18:37] OR13 opened #21 "Can I be made a CODEOWNER / editor"

[2020-03-11 17:54] OR13 opened #22 "Proposal for v0.0.2"
Due to time considerations mostly impacted DHS SVIP companies, there is a desire to publish a v0.0.2 version of the issuer API with limited functionality while we continue to debate additional functionality.

First, we need to agree to a versioning scheme:
- https://github.com/w3c-ccg/vc-issuer-http-api/issues/24
- https://github.com/w3c-ccg/vc-issuer-http-api/pull/29

Everyone should expect v1 to

[2020-03-11 18:09] OR13 opened #24 "Agree to API Versioning Scheme"
Seems there is objection to prefixing paths with version information:

`/api/v0/issuer/credentials`

However, it must be possible to version the API, and we need a way to bind the version of the API to a version of the spec....

Here are some example APIs that are versioned using headers:

- https://developer.github.com/v3/
- https://stripe.com/docs/api/versioning

I suggest we use semantic versio

[2020-03-11 18:48] OR13 commented on #24
Additonal context for those who are not familiar with this topic: https://www.troyhunt.com/your-api-versioning-is-wrong-which-is/

TLDR; he recommends the GitHub Approach... I hesitate to recommend that approach today, because of uncertainties regarding JSON-LD and CBOR... we can migrate to it in the future, if we can agree to Semver.

[2020-03-11 19:19] OR13 opened #26 "Merge Issuer and Verifier API Specifications"
https://github.com/w3c-ccg/vc-issuer-http-api
https://github.com/w3c-ccg/vc-verifier-http-api

Managing issues / comments / PRs / versions for 2 repos, is twice as hard, will take 4 times as long...

I wouldn't be opposed to splitting the spec once its finalized, but I suspect we are creating pain for everyone with our current approach...

Its likely that many implementers will support both APIs,

[2020-03-11 19:25] OR13 opened #27 "Capture issues"
[code]

[2020-03-11 19:27] dhh1128 commented on #26
I would prefer to have "issuer" and "verifier" in the URLs. I agree that they may commonly be implemented together, but I believe they might evolve a little bit independently, version-wise, and I want to be able to upgrade one without upgrading the other.

I don't have a strong opinion about docs.

[2020-03-11 19:30] OR13 commented on #26
Per my PR here: https://github.com/w3c-ccg/vc-issuer-http-api/pull/25

[code]

[code]

would both be valid, even if the latest api swagger spec were `0.0.5`... (assuming the endpoints were the same)

The docs for this would be:

[code]

If you wanted to prefix the paths, you could choose to do so:

[code]

[2020-03-11 19:32] msporny commented on #22
+1

I also want to make it clear that we should (in short order, after we have base consensus) look at JWT, Sovrin, and other representation options to ensure that the APIs work for those communities as well. Digital Bazaar would be -1 to biasing this towards only LD Proofs implementations.

[2020-03-11 19:34] msporny commented on #22
@OR13 I fixed the link from #22 to #25 above... I think you might have copy-pasted the wrong link to the versioning PR?

[2020-03-11 19:39] OR13 commented on #26
Here is an example of what I am talking about: https://vc.transmute.world/api/docs/static/index.html

Note that I am defining the well known uri used by did web in the same swagger definition... why? because its used as the issuer did...

Should I have to host a whole separate swagger defintion to do that?

[2020-03-11 19:55] msporny commented on #24
Digital Bazaar would prefer to have versioning options provided in this order of preference:

* A version that is passed in through the POST body -- `options.version`
* A version that is passed in as a query parameter (works for POST, GET, and implementations that don't have access to Headers)
* A version that is passed in via HTTP Header (this proposal)

Digital Bazaar would object strongly to:

[2020-03-11 20:02] OR13 commented on #24
Transmute would prefer not to pollute options or query string params with version information.

Can we agree to using HTTP Headers for v0.0.1, and table support for other variants until a subsequent version?

Github and Stripe had more time to think about this problem and they chose HTTP Headers... We can of course state in v2.0.0 that version must be supplied using another method, or multiple opt

[2020-03-11 20:05] OR13 commented on #24
Some support for using query strings here:

- https://dev.to/99darshan/restful-web-api-versioning-with-asp-net-core-1e8g

[2020-03-11 20:09] OR13 commented on #24
I can see allowing query strings to be very useful, but I'd prefer to tackle that later.

[2020-03-11 20:10] mkhraisha commented on #24
What is the argument against URI versioning? it seems like the easiest and fastest to implement, and most of the arguments i see against it is "purity", am i missing anything or is that the only major argument?

For the record Header/query strings are both perfectly fine for us and would not pose any issues.

[2020-03-11 20:17] msporny commented on #24
Alright, looks like Digital Bazaar's first option will get push back from Transmute, and the second option may be a more workable option.

Digital Bazaar is fine w/ versioning in Header Parameters **for the next two months** until we revisit this.

At this point, looks like Transmute, SecureKey, Mavennet, and Digital Bazaar agree. Anyone else have any objections? Does anyone think anyone else in t

[2020-03-11 20:30] OR13 commented on #24
One argument for URI Path Based Versioning is that different version of the API will map to different resources, and therefore a /v1/issuer/credentials would be different than a /v2/issuer/credentials...

An argument against the `Accept` header, is that you might want a v2 credential in xml/rdf... and a v1 credential in json, and v3 credential in CBOR.

All of these are fine assuming that you don'

[2020-03-11 20:37] David-Chadwick commented on #27
One other issue I would like to add please is the extremity of the grey colouring that indicates the border between the Issuer's systems and presumably external systems.
i) why is the credential store external? Surely the issuer will keep an internal record of all credentials that have been issued
ii) surely the access control gateway is part of the issuer's system (since as I understand it from t

[2020-03-11 20:42] msporny commented on #24
This is one of the many things that have been written on the topic:

http://blog.steveklabnik.com/posts/2011-07-03-nobody-understands-rest-or-http

Read everything from the top down to "I want my API to be versioned". It's a decent introduction to the space.... There are other things to consider, but that might get you started.

We need to take the blog post above, and the ones that @OR13 pointed

[2020-03-11 20:58] OR13 commented on #24
Worth noting that swagger autogen will handle support for URI based versioning automatically... whereas query string or header based support will be trickier to get working since you can't simply introspect the registered routes.... of course, you can always build your swagger by hand.

[2020-03-11 21:00] David-Chadwick commented on #24
"Additonal context for those who are not familiar with this topic: https://www.troyhunt.com/your-api-versioning-is-wrong-which-is/"

Conceptually I disagree with Troy. Version 2 of anything is not the same as Version 1. If it were, why would anyone buy a new version of anything if it was identical to the original version? My latest Macbook Pro is a different resource to my previous one. So I would

[2020-03-11 22:16] peacekeeper commented on #24
I'm not very experienced in API versioning and therefore don't really have a preference. URL path based versioning seems easiest to me, but several downsides were mentioned in this thread.

I will gladly follow my colleagues' lead on this issue...

[2020-03-11 23:28] OR13 commented on #22
I have updated the links, this remains blocked by clear agreement regarding versioning, but I will assume that we will agree to HTTP headers eventually and draft a PR for this proposal.

[2020-03-11 23:46] OR13 commented on #22
There is now a PR up for this proposal: https://github.com/w3c-ccg/vc-issuer-http-api/pull/30

[2020-03-12 02:19] msporny commented on #26
-1 for doing this in the next few weeks, keep them separate for now, we're dealing with enough churn... you've got some deployment ideas baked into your argumentation above that don't apply to what Digital Bazaar is doing... so, some of those arguments are falling flat for us. I agree that we may merge them in time, but let's let these two specs evolve separately and then make a decision to merge

[2020-03-12 02:20] msporny commented on #21
This is done, closing.

[2020-03-12 02:20] #21 closed

[2020-03-12 02:41] OR13 opened #31 "Define JWT Encoding of VCs"
Per the spec: https://www.w3.org/TR/vc-data-model/#jwt-encoding

We should eliminate a good chunk of the optionality here, at least for the first version of the spec that actually supports JWTs...

IMO the first version of this spec should duplicate these so that the credential that is built looks the same when decoded. (ONLY support "addition to").

This will also allow the simpler API to use the

[2020-03-12 02:52] OR13 commented on #26
@msporny can you post the swagger documentation for what you are doing so I can show you what I mean?

What is wrong with:

-  https://example.com/baseBath/docs
-  https://example.com/baseBath/docs/json
-  https://example.com/baseBath/issuer/credentials
-  https://example.com/baseBath/verifier/credentials

?

[2020-03-12 03:32] OR13 opened #32 "How to specify proof options"
My preference would be to use `assertionMethod` by itself for JWT and LD Proofs, however as is noted here: https://github.com/w3c-ccg/vc-issuer-http-api/pull/30#discussion_r391363396

Its technically possible to use a VerificationKey of one type with multiple signature suites... although it is IMO a terrible idea :)

Consider `ethereumAddress` and secp256k1... does the assertionMethod point to an

[2020-03-12 03:36] msporny commented on #26
I think I see what you're saying now... if we're not miscommunicating, I'm fine with it (in general)... I just didn't want to put yet another decision on everyone's plates before Friday... which is why I -1'd it for the next few weeks.

In other words, I think we should do what you're saying, but not now... later, once some of the dust has settled.

My comment wrt. "you've got some deployment idea

[2020-03-12 03:37] OR13 commented on #31
We should auto generate all of the properties that we can from the `credential` part of the post body, and allow a set of `jwt_property_overrides` in the `options`

[2020-03-12 03:46] OR13 commented on #26
Yes, I agree a system might not publish both sets of endpoints, or use swagger at all.. The spec could use a single swagger definition to define both sets of endpoints, and it would help us communicate how the API is meant to be used.

[2020-03-12 12:25] peacekeeper commented on #26
I also prefer to keep them separate for now.

[2020-03-12 14:54] mavarley commented on #27
@David-Chadwick ; the reason for the change in 'domain' (that grey area) is to allow for an Issuer HTTP API Service to be a multi-tenant cloud deployment. Therefore all the components you call out (key vault, credential store, API Gateway) remain abstracted behind the API.

However, _should_ the HTTP Issuer API allow for these (very sensitive) components remain in the Issuer domain (and depending

[2020-03-12 15:02] mavarley opened #33 "API to support Issuer HTTP API to call out directly to subject datastore"
The current API and Architecture does not support an Issuer Service providing the 'Subject' as a parameter and then allowing the Issuer HTTP API to reach out to a subject data store to directly collect the claims.

This design pattern may be beneficial for Issuer Application logic, and may also provide a security benefit (because there are less intermediaries handling the subject claim data).

@Da

[2020-03-12 15:10] mavarley opened #34 "Concern on external API for status checks"
Entities (including Verifiers) may require a method of determining whether a Verifiable Credential or Presentation they are processing is still valid/active - one possibility is for the Issuer to provide a 'status check' endpoint.

There are concerns with this approach, in that it goes counter to the nature of the SSI design to have Verifiers "calling home" to Issuers whenever a Credential/Present

[2020-03-12 15:10] dhh1128 commented on #27
The idea of a multitenant cloud deployment of an issuer service feels like a "there be dragons" topic. It radically changes the analysis of trust. I don't think this API should support it. (There could very well be an API that supports it, but I'm not sure it should be this API. As soon as we cross trust boundaries, we need to understand who is trusted for which things, and how those "who" entitie

[2020-03-12 15:12] mavarley commented on #33
Captured from #17 and #27

[2020-03-12 15:12] dhh1128 commented on #34
Right. I don't believe our API should allow parties who are not "part" of the issuer's identity (that is, external clients) to ask about the status of an internal issuance process. Having "internal" callers ask is fine, IMO.

[2020-03-12 15:21] mavarley opened #35 "Capture requirements to support ZKP proof credentials"
The current architecture and API assume that an Application layer process or Communication interface abstraction can successfully collect all the required information from a Holder and then construct an appropriate VC data model to then receive back a fully formed VC.

This may be true for signature based formats (LD and JWS) but we need clarity on requirements for ZKP formats (or associated agent

[2020-03-12 15:33] mavarley commented on #27
Closing out this issue;
#33
#34
#35
have been created to capture concerns bundled across other issues.
#12 remains active (direct API -> Holder interface)
 w3c-ccg/vc-verifier-http-api#10 is capturing the cloud API issue (and a new one can be opened here for reference if needed.

[2020-03-12 15:33] #27 closed

[2020-03-12 15:40] peacekeeper commented on #33
@mavarley actually this is allowed by the current API via the `subjectReference` parameter; I also felt this could be useful in certain deployments:

[code]

In your [architecture diagram](https://github.com/w3c-ccg/vc-issuer-http-api/blob/master/architecture.md), I think this allows an arrow from component `8` to component `6`.

This subjectReference could be equivalent to the subject DID, but it

[2020-03-12 15:49] OR13 opened #36 "Update contact email to CCG"
Use a CCG email for the contact for the API.

[2020-03-12 15:54] dlongley commented on #33
This, of course, creates additional API surface for which we must get consensus. It may additionally require  further decisions around what interoperable authorization mechanisms may be used to enable the "Issuer Service" to communicate with the "Subject Data Store". We should be aware that this approach would likely introduce significantly more complexity than having a single mechanism by which t

[2020-03-12 16:06] OR13 opened #37 "Define Reference ID"
Is it the `vc.id` or a linked identifier for it?

[2020-03-12 17:20] mkhraisha opened #38 "make @mkhraisha a code owner"
Can I be made a Code owner/editor?

[2020-03-12 17:23] dhh1128 commented on #35
@mavarley Why was this issue closed? I think it's a useful one to keep open, at least for a little while.

If link secrets are being used, then the holder must provide a cryptographic commitment to their link secret so it can be embedded in the credential; it is impossible to make the credential without this data item.

However, thinking of this as a ZKP requirements is probably not quite right. T

[2020-03-12 17:26] David-Chadwick commented on #34
I do not believe it should be part of the API

[2020-03-12 17:28] dhh1128 commented on #35
Oh, never mind. #27 was closed; this is still open. :-)

[2020-03-12 17:29] OR13 commented on #38
https://github.com/w3c-ccg/vc-issuer-http-api/pull/40

[2020-03-12 17:30] OR13 commented on #38
I would welcome a code-owner from maven net :)

[2020-03-12 17:31] David-Chadwick commented on #33
@dlongley There currently is no Issuer Service in the architecture diagram. There is only the Verifiable Credential Issuer Service. Is the latter the one you are talking about or not?

[2020-03-12 17:31] peacekeeper commented on #38
+1 that would be great

[2020-03-12 17:34] David-Chadwick commented on #27
Can you please add the HTTP API Service to the diagram. Currently it is not there. There is only the API itself there.

[2020-03-12 17:38] David-Chadwick commented on #33
The current architecture diagram does not have an Issuer Service. Please add it so that we can refer to it by its exact name (currently I have seen 2 or 3 different names for this not present service)

[2020-03-12 17:44] dlongley commented on #33
The "Issuer Service" is bold and listed as number (5). But, I didn't mean to refer to that in my comment, which I've edited. I was referring to the system/service that provides the Verifiable Credentials Issuer HTTP API, because that's what the OP seems to imply would gain access to a "subject data store" (again, as mentioned in the OP) with this new feature.

[2020-03-12 19:05] mavarley commented on #35
you scared me pretty good there... :)

Ok, I agree - but is this necessary at the time of generating the signed/crypto proof credential, or can this data be collected beforehand by another logical application piece and then fed into the issuance API? And does there need to be multiple back-and-forths between this Issuer API and the holder directly to support link secrets?

Thanks.

[2020-03-12 19:57] #38 closed

[2020-03-12 19:59] OR13 commented on #24
We agreed to headers for now, we will likely want to add support for query string if there are get requests in the future.

[2020-03-12 19:59] OR13 commented on #24
Closing for now.

[2020-03-12 19:59] #24 closed

[2020-03-12 20:01] OR13 opened #41 "Agree to API Style Guide"
In order to address API Design preferences, I feel it's helpful to have a discussion, and then develop a style guide that codifies the choices we made as a group.

- https://restfulapi.net/resource-naming/
- https://www.ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm

In my opinion, it's best to start with a base document, I propose we generally try to follow:
- https://restfulapi.net

[2020-03-12 21:05] OR13 commented on #41
I have opened a small PR to formalize the result of our discussion in one location  https://github.com/w3c-ccg/vc-issuer-http-api/pull/42

[2020-03-12 21:38] dhh1128 commented on #41
I don't have a strong horse in this race, so I don't have much opinion about this. We can follow whatever style guide we collectively like, and I probably won't vote against it. However, I want to note that Orie's suggestions represent a subtle focusing of assumptions. We started out saying we were doing an HTTP API. A RESTful API is one variant of that goal, and it's often a good one. But we shou

[2020-03-12 22:03] dhh1128 commented on #35
It could be done separately, but I don't like doing it that way. The reason I don't like it is that things like consent shouldn't be separated from the action that gives the consent. Trust consequences are hard to understand and get right when cause and effect aren't tightly coupled. We want to strongly associate the two. Similarly, the user's input into the content of a credential (whether ZKP ma

[2020-03-13 18:21] OR13 commented on #22
closing

[2020-03-13 18:21] #22 closed

[2020-03-13 18:27] OR13 commented on #4
Seems like this is out of scope. I'm going to close.

[2020-03-13 18:27] #4 closed

[2020-03-13 18:28] OR13 commented on #3
Superseeded by: https://github.com/w3c-ccg/vc-issuer-http-api/issues/31

closing.

[2020-03-13 18:28] #3 closed

[2020-03-13 18:33] OR13 commented on #2
Are we building a REST API or not? https://github.com/w3c-ccg/vc-issuer-http-api/issues/41

I would argue that the points raised here don't apply to REST... they apply to HTTP.

I'd like to close this issue and move discussion to the Style Guide Issue... where I believe we can mitigate some of these concerns through careful API Design.

@dhh1128 I agree with everything you have said, can we focus

[2020-03-13 18:37] OR13 commented on #11
I think this is blocked by a clearer description of what goes into a credential, what is stored related to it, and what goes into issuing a verifiable credential, and what is stored related to it.

Commenting on the style guide might help move this along to the point where we can either create an issue to fix this, or close this discussion: https://github.com/w3c-ccg/vc-issuer-http-api/issues/41

[2020-03-13 18:53] OR13 commented on #15
If possible, I'd love for us to move this discussion to https://github.com/w3c-ccg/vc-issuer-http-api/issues/41

Since we are essentially asking what style of HTTP API this should be. It its possible to do that and close this issue, I think it could help speed things along.

[2020-03-13 18:56] OR13 commented on #41
@dhh1128 I totally agree, the "REST" part of the title was accidental... I intended for us to resolve the high level "HTTP API Style" question, and I suggested REST as a solution to try and make the proposal concrete. If you have an alternative HTTP API Style Guide which you can suggest here, that would be helpful :)

[2020-03-13 19:39] dhh1128 commented on #41
No. Like I said, I'm not advocating any particular position -- I'm just advocating that we be very conscious about deciding to be RESTful, because it represents a narrowing of assumptions. I'm not claiming it's a good or bad narrowing -- just pointing out that it's a decision point worth passing explicitly.

[2020-03-13 20:17] OR13 commented on #41
Ok, I think https://github.com/w3c-ccg/vc-issuer-http-api/pull/43 and pretty much any progress is now blocked by our lack of agreement to an api design guide.

I'll make the case for the architecture I would like to see:

0. I want to see a REST API, following the general guidelines proposed here: https://github.com/w3c-ccg/vc-issuer-http-api/pull/42

1. Credential Templates as a Resource Type.

I

[2020-03-13 20:18] dhh1128 commented on #2
Markus quoted me accurately, but I think the context of that quote was slightly different. I was commenting on an imagined CCG task that turned out not to exist for many of the decision makers and influencers I cared about. It was the task of creating a standard way for a holder+issuer, or holder+verifier, to interact to issue or verify, based entirely on HTTP. In contrast, the purpose of the APIs

[2020-03-13 21:10] dlongley commented on #41
I'm not sure what is meant by "Credential Template", but if anything, I would expect it to be more like "Credential Schema". I would imagine that a particular "issuer instance" could issue N different "types" of credentials, each having a particular schema associated with it. Something I'd like to see in future API designs as we iterate:

When attempting to issue a credential of a particular type,

[2020-03-14 20:40] OR13 commented on #41
@dlongley can you sketch a quick set of apis like i did above to explain your reply? I think I agree with it, but it might help to show a series of hypothetical endpoints... Generally speaking, it sounds like making the arguements to the original credential issue function defined in a schema, an referencing that schema while providing them as a means of issuance... Thats basically what I was sugge

[2020-03-14 21:38] OR13 commented on #2
I think your original instinct is still correct.... there will be nothing stopping someone from taking this API spec, adding a macaroon / zcap / whatever authorization layer, and issuing credentials directly to a holder, or verifying a holder credential directly with a verifier...

I don't see a conflict between SSI / ZKP and HTTP, consider:

https://alice.example.com/ssi/zkp
https://bob.example.c

[2020-03-15 02:52] dhh1128 commented on #2
Orie, you're misunderstanding my concerns by equating SSI and ZKP. I don't make that equivalence.

HTTP is a poor fit for peers in a democratic landscape to interact according to SSI expectations, because it's not peer-oriented. Client-server APIs put the server in a power position; all state flows through the server. The server sets the rules. The client is given a contract to conform to, but the

[2020-03-15 15:29] OR13 commented on #2
What is your defintion of a peer?

I define peers as addresses in a shared network... where each address has authority over its domain... this applies to indy nodes, ethereum nodes, ipfs, http servers, etc....

Is it undemocratic that I can't put arbitrary data against your IPFS endpoints without your permission? Or that my keys don't work to open the house at your street address?

This is not tru

[2020-03-15 17:30] dhh1128 commented on #2
First of all, I didn't log this issue. Markus did. I can't speak for the goal he had; my purpose in commenting was to clarify under which conditions I felt like concerns I had expressed elsewhere would be relevant to these APIs.

Second, I have twice tried to disengage from the "argument" (Orie's word), referring you to a long email thread in the CCG where it was already discussed.

I will respond

[2020-03-15 20:50] msporny commented on #26
Looks like #14 is blocked because of this issue, so let's get this resolved quickly. Let's discuss on Tuesday's call... I'm fine w/ the spec merge (all commits, all issues, etc.), the sooner the better.

[2020-03-16 03:36] OR13 commented on #26
I was able to get this working the way I wish we had things...

https://github.com/OR13/respec-swagger
https://or13.github.io/respec-swagger/

1 spec file (index.html)
1 api.yml
1 README
1 repo....

[2020-03-16 03:38] OR13 commented on #26
I'm happy to take point on refactoring the issuer api to this format / or the verifier api... or we can leave them separate and create a new ccg repo for the combined work, and not be disrupted, until its ready to have both pasted in...

[2020-03-16 03:40] OR13 commented on #26
https://stackoverflow.com/questions/1683531/how-to-import-existing-git-repository-into-another

https://medium.com/altcampus/how-to-merge-two-or-multiple-git-repositories-into-one-9f8a5209913f

I'm not the best with git, but I am happy to give this a shot.

[2020-03-16 04:00] OR13 commented on #26
I created https://github.com/w3c-ccg/vc-http-api, and followed https://medium.com/altcampus/how-to-merge-two-or-multiple-git-repositories-into-one-9f8a5209913f

This should work, but would be a lot easier if we temporarily moved all files in both repos into an "issuer" + "verifier" folder before attempting the merge.

Issues can easily be moved, but the current PRs are obviously going to confound

[2020-03-16 08:31] dhh1128 commented on #2
@OR13 : just to be clear, I am not opposed at all -- not even a teensy bit -- to interacting over HTTP, including of RESTful HTTP, as the channel during a particular issuance of credentials. I am also not predicting that anything is going to be more common or more important than HTTP. What I am opposed to is defining the standard recipe for such an interaction using HTTP constructs only. The stand

[2020-03-16 08:32] dhh1128 commented on #2
And BTW, Aries RFC 0037 is the complement for verification.

[2020-03-16 13:50] llorllale opened #44 "Define schema for response of /credentials/issueCredential"
Can we agree on a basic schema for this object?

https://github.com/w3c-ccg/vc-issuer-http-api/blob/5ccd7d96e9f3e52777e7c63c9253a4d8e47a4fe4/api.yml#L39-L40

Keeping the mime type as `application/json`, this would imply an object that looks roughly like this:

[code]

[2020-03-16 14:19] OR13 commented on #44
For reference, here is some of the work we have been doing with workday to define vc json schemas: https://github.com/w3c-ccg/vc-json-schemas/tree/master/docs/example/cmtr/v0.1

I would expect the output schema to cover the required properties for a LD Proof, with an any property for the credential subject... similar for the other proof formats.

[2020-03-16 14:32] OR13 commented on #2
@dhh1128 thanks for your thoughtful response. The 2 Aries RFCs you linked are exactly the kind of feedback I think we need, especially the forward thinking part regarding expanding beyond HTTP.

I'm hoping that we can get the data model, and interfaces for issuer and verifier consolidated in such a way that we can easily expand them to support DIDComm.

Especially since these protocols do what we

[2020-03-16 15:43] troyronda opened #45 "Atomicity of credential issuance and reference creation"
Moved discussion from https://github.com/w3c-ccg/vc-issuer-http-api/pull/43#issuecomment-598896804

[2020-03-16 20:32] msporny commented on #26
+1 to the plan... note that example you have throws ReSpec errors every couple of reloads, which is the same problem I had here:

https://github.com/w3c-ccg/vc-verifier-http-api/pull/14

[2020-03-16 23:46] llorllale commented on #44
@OR13

Can you clarify where your "credential subject" comes from in relation to the current api.yml?

[2020-03-17 00:02] OR13 commented on #44
in our current world, the credentialSubject.id is set in the credential payload that is provided to the issuer api.... in other words, the caller knows what who the subject of the credential is, and crafts every part of the request accept the proof...

You can see the client side part of our interop demo here... https://github.com/transmute-industries/issuer.interop.transmute.world/blob/master/src

[2020-03-17 00:52] llorllale commented on #44
@OR13 ok. I just don't understand the comment I quoted you on. You even included the detail "with an any property for the credential subject".

To be clear, this issue is about the *response* schema of `/credential/issueCredential`. Currently it's just an "object".

I don't understand your comment within the context of my understanding of the /credential/issueCredential path as an API that "produc

[2020-03-17 01:05] llorllale commented on #26
There's an obvious case for the issuer to also be a verifier, but I don't see it so strongly the other way around. Can you elaborate?

Are we assuming issuers make up a certain percentage threshold of the VC ecosystem? Are we assuming a certain percentage of verifiers will also be issuers?

[2020-03-17 01:26] llorllale commented on #41
@OR13

We don't think decomposing "composition" from "persistence" provides enough value for clients. See https://github.com/w3c-ccg/vc-issuer-http-api/pull/43#issuecomment-599648662

@dlongley

Sounds like our views are pretty similar.

[2020-03-17 19:53] OR13 commented on #41
@llorllale can you provide a sketch of the endpoints you are talking about, I don't understand what you are suggesting.

[2020-03-17 20:14] OR13 commented on #26
I'm confused... isn't the other way around that the verifier is also an issuer?

For example:

Lets say an issuer will only create VPs if they have some valid VPs from the subject already...

You show up at the DMV, and they verify your Birth Certificate Credential and Social Security Certificate Credential, then they issue your Drivers License Credential.

[code]

Are both called by the software

[2020-03-17 20:17] OR13 commented on #26
Another example would be that you will get a receipt which is signed by the verifier (acting as an issuer)... saying that your data was received, and verified, and will be used according to ToS... similar to kantara consent receipts... https://kantarainitiative.org/wp-content/uploads/2014/10/Kantara-Consent-Receipt-Presentation.pdf

[2020-03-17 20:21] OR13 commented on #44
what I meant to say is that the output of the issuer api is well formed VC with proof... which would contain a `credentialSubject.id`, for example: https://github.com/w3c-ccg/vc-json-schemas/blob/master/docs/example/cmtr/v0.1/cmtr-credential-v0.1.json#L11

So the schema for the output format would be a schema that allows additional properties by requires `credentialSubject.id`.

[2020-03-17 20:39] dhh1128 commented on #44
@OR13 ZKP-oriented credentials are unlikely to have a meaningful value for `credentialSubject.id`, since their binding to the holder usually doesn't depend on this mechanism. They *could* have it, but should not be required to have it. (FWIW, ZKP-oriented credentials are not required to have a cryptographic commitment to a link secret, either, though that form of binding is likely to be common for

[2020-03-17 20:56] OR13 commented on #44
@dhh1128 All of the examples here:

- https://www.w3.org/TR/vc-data-model/#credential-subject
- https://www.w3.org/TR/vc-data-model/#example-19-usage-of-the-credentialschema-property-to-perform-zero-knowledge-validation

have an `id` property.

This one does not:

- https://www.w3.org/TR/vc-data-model/#example-24-a-verifiable-credential-that-supports-cl-signatures

Without a JSON Schema defintion

[2020-03-17 21:12] dhh1128 commented on #26
The terminology is causing problems for me here. Let me say how I understand the terminology (which I think and hope is how everybody else does, too) just as an alignment check. Then I'll reason about the github issue in general.

Words like "Issuer", "Verifier", "Holder" and "Prover" label the role that a given party is playing *in a given interaction* -- never an abstract role in the ecosystem t

[2020-03-17 21:21] dhh1128 commented on #44
Agreed.

The VC spec says that each credential MUST have a `credentialSubject`, but MAY have an `id`. I was just pointing out that we shouldn't require something in this API that the spec doesn't require.

If we're talking about data format, not data model, then we can certainly stipulate which formats require the `id`. But in this API, perhaps we should defer that, simply saying something like "w

[2020-03-17 21:42] OR13 commented on #26
@dhh1128 thanks, you are right to object to imprecise term use. please continue to do so :)

One thing worth noting is that we have already agreed to supporting at least api versioning using http headers.

Another is that while I'm suggesting merging the specification into 1 repo for the sake of development and sanity, I am NOT suggesting that any given API must implement both...

Some APIs will i

[2020-03-17 22:04] dhh1128 commented on #26
Largely, +1 to everything above.

It's worth noting that we (Orie and I) may still be talking about different issues with respect to versioning and releasing. His comments above seem to focus on how a particular implementation of the specs does its versioning and releasing; certainly the comment about communicating versioning in HTTP headers is consistent with that.

I'm more worried about version

[2020-03-17 22:35] OR13 commented on #26
@dhh1128 any frustration that is visible in what follows is not directed at you or anyone else, i'm just very passionate about API design :)

The spec is not about business problems, the spec is about a data model and interfaces.

It is the defintion of the interfaces: noun / verb / vc / vp, object schemas, etc... that we don't have clear alignment on... having 2 modules / 2 repos for the 2 specs

[2020-03-17 23:11] OR13 commented on #44
Yes, I totally agree, especially if the input or output of an api endpoint is meant to align with the vc-data-model 1-1 as appears to have been requested by @msporny @dlongley and others (me).

However, there are cases of optionality that the vc-data-model allows, which I believe we may want to be more restrictive about... for the sake of developers.

One example is the JWT section I linked above.

[2020-03-17 23:39] dhh1128 commented on #26
Wow, we are pretty misaligned.

"Data model" as used in W3C specs that I know refers to the different data definitions and relationships in the abstract, and very much NOT to the format that data takes when it's realized in a digital file, an HTTP payload, etc. Certainly this is true about the VC Data Model spec that provides background for our effort here. Thus, what we are working on here is ver

[2020-03-18 00:04] dhh1128 commented on #44
ZKP-based verifiable presentations often contain data that comes from multiple VCs (e.g., some fields from your driver's license, some from your credit card). Of course all of the data must exist in VC form before the VP is created, but some could have existed for a long time, and some could have been issued only seconds before the VP gets built. Let's call the VCs that contain this data the "basi

[2020-03-18 00:20] llorllale commented on #37
My thoughts on this is it should be opaque to the caller.

[2020-03-18 00:23] llorllale commented on #34
@dhh1128

Is this definitive? What if there is a user-defined route between the verifier and the issuer's status check endpoint?

[2020-03-18 00:26] dhh1128 commented on #34
I'm not on a crusade to prevent user-defined routes from being added; I'm opposed to such a route being part of a standard, because I don't believe the standard should be recommending such an antipattern.

[2020-03-18 00:41] llorllale commented on #41
@OR13 basically the `/credential/construct` path I proposed in #20 (meant to construct, persist, *and* return a signed credential).

There's an argument floating around about how a caller may want to inspect a credential (note: not a *verifiable* credential) before invoking a function that signs it. I don't see much value in this considering the caller can still inspect the result given that it's

[2020-03-18 00:57] dhh1128 commented on #41
Is this an internal caller (part of Alice calling another part of Alice) or an external caller (Bob calling Alice)? If the latter, what happens if Bob has to pay? Do we want Bob to inspect what he's paying for before he commits?

Note: I don't believe the Bob-to-Alice scenario should be supported by this API, so I'm not bringing it up because I like it. I am just looking for completeness of analys

[2020-03-18 15:05] dlongley commented on #26
+1 for different specs for issuing and verifying; they are for different interactions and need to be able to evolve (and get patched) independently from one another. I don't mind if these two specs live in the same repo or not -- that's a management issue. But they should be different, independent specification documents.

Regarding creating signed presentations -- an HTTP API for that would be in

[2020-03-18 17:11] OR13 commented on #26
Are we sure we want to use the term "signer" for VPs, doesn't that bias against ZKPs / other proof formats?

What mechanism other than an HTTP API would did:web use with CHAPI to handle DID Auth (missing expected functionality)?

How will a user generate a VP that would be acceptable to the verification endpoint without an HTTP API to create it (missing expected functionality)?

How would I get a

[2020-03-18 18:59] dhh1128 commented on #26
I thought the term was "Prover," and that this terminology has long since been canonized.

See Aries RFC 0037, which works with HTTP and other transports. What's described is castable as an HTTP API, but is deliberately more generic. That's what I want -- something that allows HTTP as a super-important transport, but something that doesn't tell the world that *the* standard way to do it is HTTP, a

[2020-04-30 20:52] kdenhartog opened #46 "How is security of this API being handled?"
I was looking at the yaml doc just a bit ago and noticed there wasn't any definitions around securing the API endpoints with something like a JWT or HTTP signature. Is the assumption that this API will be deployed in a secured network environment where only particular IP addresses can hit this endpoint or is there other aspects that are being considered that I've missed?

[2020-04-30 20:54] OR13 commented on #46
its super outdated.

[2020-04-30 20:55] OR13 commented on #46
we froze it for plugfest, I'm hoping we can consoldiate the apis... like we have done here: https://transmute-industries.github.io/vc-http-api/

https://transmute-industries.github.io/vc-http-api/versions/v0.0.0/index.html

[2020-04-30 20:57] OR13 commented on #46
generally the security is not a concern for these APIs... its can be handled however vendors want. for now we are just trying to agree to the endpoints, inputs and outputs.

[2020-04-30 20:58] OR13 commented on #46
we consider these APIs to be "internal" in the sense that vendors decide how they want to secure them, and that they are mean to be called by trusted clients (the vendor controls)

[2020-04-30 21:00] kdenhartog commented on #46
Makes sense to take it one step at a time and not imply use of additional technologies (OIDC deployment for JWTs, key management for HTTP Sigs, self signed certs for MTLS, and network configuration for security at the network layer). Would there be a good place to put these as considerations for a deployment?

[2020-04-30 21:08] OR13 commented on #46
on your equivalent of your vendor repo IMO, ours is https://vc.transmute.world/api/docs/static/index.html

^ its fully open / no auth required / docker image cloud function / no persistence.

[2020-05-04 02:28] kdenhartog commented on #46
Found a description of this here: https://github.com/w3c-ccg/vc-issuer-http-api/blob/master/architecture.md#api-security

[2020-05-04 02:28] #46 closed

[2020-08-14 01:26] kimdhamilton commented on #26
done

[2020-08-14 01:26] #26 closed